/*General styles*/
:root {
  --accent-color: #2196f3;
  --main-color: #757575;
  --second-color: #fff;
  --titles-color: #212121;
  --dark-bcg: #2f303a;
  --grey-bcg: #f5f4fa;
  --second-accent-color: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--second-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* text-align: center; */
}

.section {
  padding: 94px
  /* outline: auto; */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--second-color);
  border-bottom: 1px solid #ECECEC;

  
}

.header-container {
  display: flex;
  align-items: center;
  
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-group {
  display: flex;
  align-items: center;
  margin-left: auto;

 
}

.header-group-item:first-child {
  margin-right: 50px;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.first-part {
  color: var(--accent-color);
}
.second-part {
  color: #000000;
}

.link.current {
  color: var(--accent-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--titles-color);
  display: block;
  padding: 32px 0px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-tel,
.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0px;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-email:hover,
.header-email:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--dark-bcg);
  padding: 200px 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
  max-width: 696px;
  margin: 0 auto;
}

.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  background-color: var(--grey-bcg);
  cursor: pointer;
  padding: 6px 22px;
  min-width: 73px;
  max-width: 130px;
  height: 38px;
  border-radius: 4px;
  border: none;
}

.hero-btn:active,
.btn:active,
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-accent-color);
}

.advantage-list {
display: flex;
justify-content: space-between;  
text-align: left;
max-height: 98px;
}

.advantage-list-item:not(:last-child) {
  margin-right: 30px;
  
}
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 10px;
}

.advantage-item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-color);
  
}

.about-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  align-items: flex-start;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team {background-color: var(--grey-bcg);}

.team-player {
  flex-basis: calc( (100% - 30px * 3) / 4);
}


.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--second-color);
  border-radius: 0px 0px 4px 4px;
}
.person {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--titles-color);
  margin-bottom: 4px;

}

.portfolio-item {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer {
  background-color: var(--dark-bcg);
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--second-color);
  
}

.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.address:hover,
.address:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.futer-logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.futer-item:not(:last-child) {
  margin-bottom: 9px;
}

.futer-first-part {
  color: var(--accent-color);
}

.futer-second-part {
  color: var(--second-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-describe {
 padding: 20px 24px;
border: 1px solid #EEEEEE;
border-top: none;
}